.thumbnail img{
  max-height: 200px;
  margin: 0 auto;
  display: block;
}
.thumbnail .description{
  color: #7f7f7f;
}
.price{
  font-weight: bold;
  font-size: 16px;
}
.thumbnail h4{
  text-align: center;
}